*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.container{
    max-width: 1268px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
header{
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
header a{
    color: black;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}

.nav-items{
    display: flex;
    align-items: center;
    gap: 35px;
}
.navbar-contact{
    display: flex;
    gap: 40px;
    align-items: center;
}
.navbar-cards{
    display: flex;
    align-items: center;
    gap: 28px;
}

.navbar-cards button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    background-color:#0075FF;
    color: white;
    border: #0075FF;

}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.hero-cards h1{
    font-size: 60px;
    color: #211F54;
    padding-bottom: 10px;
}
.hero-cards p{
    color: #6E7191;
    font-size: 20px;
}
.hero-btn{
    padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 8px;
        background-color:#0075FF;
        color: white;
        border:#0075FF;
}
.hero-card{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.hero-title1{
    color: #6E7191;
}
.hero-title2{
    font-size: 30px;
    padding-top: 6px;
}

.about-title{
    font-size: 60px;
        text-align: center;
        padding-top: 30px;
}
.about-deck{
font-size: 24px;
    text-align: center;
    padding-top: 20px;
    color: #6E7191;
}

.about-card{
    
    max-width: 430px;
}
.about-card img{
margin-left: auto;
margin-right: auto;
display: block;
}
.about-card h1{
    font-size: 28px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

.about-card p{
    color:#6E7191 ;
    text-align: center;
    font-size: 20px;
}
.about-cards{
    margin-top: 40px;
}
.about-btn{
    padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 8px;
        background-color: #0075FF;
        color: white;
        border: #0075FF;
}
.about-btn2{
    padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 8px;
        background-color:white;
        color:black;      
        border: rgba(24, 22, 22, 0.164) solid 1px;
}

.about-btns{
    display: flex;
    gap: 40px; 
justify-content: center;
margin-top: 40px;
margin-bottom: 100px;
}

.our-title{
    font-size: 50px;
}
.our-btn{
    padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 8px;
        background-color: white;
        color: black;
        border: rgba(24, 22, 22, 0.164) solid 1px;
}
.our-cardlar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}
.our-card{
    max-width: 340px;
    border: rgba(0, 0, 0, 0.13) solid 1px;
    margin-bottom: 40px;
    border-radius: 15px;
    padding: 15px;
}

.our-card img{
   margin-left: auto;
   margin-right:auto ;
   display: block;
}
.our-card h1{
    font-size: 30px;
        text-align: center;
        padding-top: 20px;
        margin-bottom: 20px;
}
.our-card p{
    text-align: center;
    font-size: 21px;
    color: #6E7191;
}
.our{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.covid{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #211F54;
    margin-bottom: 200px;
}


.covids-cards h3{
    color: white;
    font-size: 25px;
    padding-bottom: 20px;
    padding-left: 40px;
    
}
.covids-cards h1{
    color: white;
    font-size: 50px;
    padding-left: 40px;
    padding-right: 30px;
}
.covids-cards p{
    padding-left: 40px;
    padding-top: 10px;
    padding-right: 190px;
    font-size: 20px;
    color: white;
}
.covid-card{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
}
.covid-btn{
    padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 8px;
        background-color: #0075FF;
        color: white;
        border: #0075FF;
        margin-left: 30px;
}

.covid-tit{
    font-size: 15px;
}

.artic-cardlar{
    display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 40px;
        margin-top: 30px;
}
  
   
.artic-btn1{
    padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 8px;
        background-color: #0075FF;
        color: white;
        border: #0075FF;
}

.artic-btn2{
    padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 8px;
        background-color: white;
        color: black;
        border: rgba(24, 22, 22, 0.164) solid 1px;
}
.artic-btnlar{
    display: flex;
    align-items: center;
    gap: 30px;
}


.how{
    margin-top: 40px;
}

.hows{
    border: rgba(0, 0, 0, 0.178) solid 1px;
    max-width: 480px;
    padding: 40px;
    border-radius: 15px;
    background-color: white;
    margin-top: -80px;
    z-index: 4px;
    position: relative;
    margin-left: 50px;
    margin-bottom: 40px;
}
.hows h1{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.hows p{
    font-size: 19px;
    color: #6E7191;
}
.hows-car{
display: flex;
justify-content: space-between;
align-items: center;
}


.contact{
    display: flex;
    justify-content: space-between;
    
}
.contact-card h1{
font-size: 60px;
margin-top: 40px;
margin-bottom: 20px;
}
.contact-card p {
    margin-top: 10px;
    color: #6E7191;
    font-size: 27px;
    margin-right: 40px;
}
.contact-cards{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.contact-cards h6{
    font-size: 23px;
    font-weight: 400;
    color: #6E7191;
} 
.contact-cards h4{
    font-size: 25px;
}

.contac-title{
    font-size: 35px;
    margin-top: 70px;
}

.contac-deck{
    font-size: 20px;
    margin-top: 1222px;
}



.contac-btn{
    padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 8px;
        background-color: white;
        color: black;
        border: rgba(24, 22, 22, 0.164) solid 1px;
        margin-top: 30px;
}


.sectin{
    background-color: #F7F9FC;
    padding-top: 230px;
    padding-bottom: 200px;
}
.contact-border {
    border: rgba(0, 0, 0, 0.096) solid 1px;
    width: 1500px;
    height: 1000px;
    background-color: white;
    border-radius: 20px;
}
.form1{
    margin-top: 80px;
    display: flex;
    gap: 30px;
}
.inpu{
    width: 240px;
    height: 60px; 
    border-radius: 15px;
    border: rgba(0, 0, 0, 0.103) solid 1px;
    margin-top: 5px;
    margin-left: 40px;
}
.text{
    color: #211F54;
    margin-left: 40px;
}
.inpul{
    margin-top: 5px;
        margin-left: 40px;
        border-radius: 15px;
            border: rgba(0, 0, 0, 0.103) solid 1px;
            width: 540px;
            height: 200px;
}

.bttn{
    padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 50px;
        padding-right: 50px;
        border-radius: 8px;
        background-color: #0075FF;
        color: white;
        border: #0075FF;
        margin-top: 30px;
        margin-left: 40px;
}
.textt{
    color: #211F54;
    margin-left: 40px;
    padding-top: 40px;
}
.your{
    display: flex;
    justify-content: space-between;
   gap: 20px;
    margin-top: 180px;
    margin-bottom: 40px;
}
.foter-1 h1{
font-size: 40px;
padding-bottom: 20px;
}
.foter-1 p{
    font-size: 20px;
    color: #6E7191;
}
.foter-1 div{
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
.foter-2 p{
font-size: 20px;
    color: #6E7191;
    padding-top: 21px;
}

.your-title{
margin-top: 10px;
font-size: 30px;
}
.foter-3 p{
    font-size: 18px;
        color: #6E7191;
        padding-top: 10px;
}
.you-title{
    margin-top: 10px;
        font-size: 24px;
}

.foter-4 h2{

    font-size: 24px;
}

.foter-4 h1{
    font-size: 30px;
    color: #0075FF;
}

.foter-4 p{
    font-size: 20px;
        color: #6E7191;
        padding-top: 21px;
}

.foter-4 button{
    padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 8px;
        background-color: #0075FF;
        color: white;
        border: #0075FF;
        font-size: 20px;
        margin-top: 20px;
}

.footer-title{
    font-size: 20px;
}
.ben{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 40px;
}

.footer-title span{
    color:#0075FF ;
}

.birinchi{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newa{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


































































































































